@model PBL7.Models.Patrocinador

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patrocinador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaAtuacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaAtuacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PatrocinadorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
